absl-py==1.0.0
addict==2.4.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
Babel==2.9.1
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
black==22.1.0
bleach==4.1.0
brotlipy==0.7.0
cachetools==5.0.0
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1613246939562/work
chardet @ file:///tmp/build/80754af9/chardet_1605303159953/work
click==8.0.4
conda==4.10.1
conda-build==3.21.4
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1618262151086/work
cryptography @ file:///tmp/build/80754af9/cryptography_1616769182610/work
cycler==0.11.0
debugpy==1.5.1
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
defusedxml==0.7.1
deprecation==2.1.0
descartes==1.1.0
dnspython==2.1.0
entrypoints==0.4
filelock @ file:///home/linux1/recipes/ci/filelock_1610993975404/work
fire==0.4.0
flake8==4.0.1
fonttools==4.31.1
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-auth==2.6.2
google-auth-oauthlib==0.4.6
grpcio==1.44.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio==2.15.0
importlib-metadata==4.2.0
importlib-resources==5.4.0
iniconfig==1.1.1
install==1.3.5
ipykernel==6.9.2
ipython==7.32.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.7.0
jedi==0.17.0
Jinja2==3.0.3
joblib==1.1.0
json5==0.9.6
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyter-packaging==0.11.1
jupyter-server==1.15.6
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.11.2
jupyterlab-widgets==1.1.0
kiwisolver==1.4.0
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
llvmlite==0.31.0
lyft-dataset-sdk==0.0.8
Markdown==3.3.4
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1621528142364/work
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.3.0
mkl-random @ file:///tmp/build/80754af9/mkl_random_1618853974840/work
mkl-service==2.3.0
mmcv-full @ https://download.openmmlab.com/mmcv/dist/cu111/torch1.9.0/mmcv_full-1.3.13-cp37-cp37m-manylinux1_x86_64.whl
mmdet==2.16.0
-e mmdet3d==0.17.0
mmsegmentation==0.14.1
mypy-extensions==0.4.3
nbclassic==0.3.7
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
networkx==2.2
notebook==6.4.10
notebook-shim==0.1.0
numba==0.48.0
numpy==1.19.5
nuscenes-devkit==1.1.9
oauthlib==3.2.0
olefile==0.46
open3d==0.15.2
opencv-python==4.5.5.64
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pathspec==0.9.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.0.1
pkginfo==1.7.0
platformdirs==2.5.1
plotly==5.6.0
pluggy==1.0.0
plyfile==0.7.4
prettytable==3.2.0
prometheus-client==0.13.1
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
protobuf==3.19.4
psutil @ file:///tmp/build/80754af9/psutil_1612298016854/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycodestyle==2.8.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyflakes==2.4.0
Pygments @ file:///tmp/build/80754af9/pygments_1621606182707/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing==3.0.7
pyquaternion==0.9.9
pyrsistent==0.18.1
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
pytest==7.1.1
python-dateutil==2.8.2
python-etcd==0.4.5
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyWavelets==1.3.0
PyYAML==5.4.1
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.1
rsa==4.8
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016701961/work
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
Send2Trash==1.8.0
Shapely==1.8.1.post1
six @ file:///tmp/build/80754af9/six_1623709665295/work
sniffio==1.2.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
terminado==0.13.3
terminaltables==3.1.10
testpath==0.6.0
threadpoolctl==3.1.0
tifffile==2021.11.2
tomli==2.0.1
tomlkit==0.10.0
torch==1.9.0
torchelastic==0.2.0
torchtext==0.10.0
torchvision==0.10.0
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work
traitlets==5.1.1
trimesh==2.35.39
typed-ast==1.5.2
typing-extensions==4.1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==1.3.1
Werkzeug==2.0.3
widgetsnbextension==3.6.0
yapf==0.32.0
zipp==3.7.0